body {
    margin: 0;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
}
* {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
p,
h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 100;
}

header,
footer {
    line-height: 50px;
}

/*------------------------flex------------------------*/

section#flex-content {
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

aside {
    flex-grow: 1;
    flex-basis: 25%;

}

article {
    flex-grow: 2;
    flex-basis: 50%;
}

header, aside,article,footer{
    padding: 20px;
}

/*------------------------colors------------------------*/

header#item-top {
    background-color: #f25055;
}

aside#item-left {
    background-color: #344d8b;

}

aside#item-right {
    background-color: #48a491;

}

article#item-center {
    background-color: #f5da1f;

}

footer#item-bottom {
    background-color: #8ea5a3;
}
